name: Update changelog

on:
  release:
    types: [released]

jobs:
  update:
    runs-on: ubuntu-latest
    name: Auto update changelog
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: master

      - name: Update Changelog
        uses: stefanzweifel/changelog-updater-action@v1
        with:
          path-to-changelog: CHANGELOG.md
          latest-version: ${{ github.event.release.tag_name }}
          # heading-text: ${{ github.event.release.name }}
          release-notes: ${{ github.event.release.body }}
          compare-url-target-revision: ${{ github.event.release.target_commitish }}

      - name: Commit updated CHANGELOG
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: master
          commit_message: Update CHANGELOG
          file_pattern: CHANGELOG.md
